<ul class="list">
	<li class="list-item"><div class="checkbox">{% include "src/taskList/tmp/item.html" %}</div><div class="content"><div><i class="fas fa-plus"></i> <i class="fas fa-trash-alt"></i></div> <i class="fas fa-cogs"><div class="window"><div class="notation"></div><div class="block">Settings</div></div></i>
		</div></li>
	<li class="list-item"><div class="checkbox">{% include "src/taskList/tmp/item.html" %}</div><div class="content">Play soccer with friends </div></li>
	<li class="list-item"><div class="checkbox">{% include "src/taskList/tmp/checked.html" %}</div><div class="content">Open Photoshop </div></li>
	<li class="list-item"><div class="checkbox">{% include "src/taskList/tmp/item.html" %}</div><div class="content">Finish client work </div></li>
	<li class="list-item"><div class="checkbox">{% include "src/taskList/tmp/checked.html" %}</div><div class="content">Give away some PSDs </div></li>
	<li class="list-item"><div class="checkbox">{% include "src/taskList/tmp/item.html" %}</div><div class="content"> Post a new shot to Dribbble</div></li>
	<li class="list-item"><div class="checkbox">{% include "src/taskList/tmp/item.html" %}</div><div class="content"><div class="previous"> <i class="fas fa-chevron-circle-left"></i> Previous</div>  <div class="next">Next <i class="fas fa-chevron-circle-right"></i></div></div></li>
</ul>