
* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
}
.svg-wrapper {
  position: absolute;
  top: 20%;
  left: 40%;
  display: block;
  width: 200px;
  height: 200px;
}
.svg-wrapper:last-of-type {
  top: 35%;
}
svg {
  position: relative;
}
.inner {
  position: absolute;
  transform: translateX(150px);
  width: 0px;
  height: 150px;
  transition: 1s ease-out;
  opacity: 0;
}
@keyframes bg{
  100% {
    transform: translateX(0px);
  width: 300px;
  opacity: 1;
  }
}
svg:hover .inner {
  animation: bg 1s linear;
  animation-fill-mode: both;
}
text {
  transition: 1s;
}
svg:hover  text {
  fill: white;
}
