<h2>my account login</h2>
<div class="login-fields">
	<form action="" class="login">
		<p>username</p>
		{% include "src/tmp/input.html" %}
		<i class="fas fa-user"></i>
		<p>password</p>
		{% include "src/tmp/input.html" %}
		<i class="fas fa-lock"></i>
		<button class="login-btn">Log in</button>
		<p class="password">forgot password?</p>
		<div class="line-text">
			<p class="line left-line"></p>
			<p>Or Sign in With</p>
			<p class="line right-line"></p>
		</div>
		<div class="social">
			<button>Twitter</button>
			<button>Facebook</button>
			<button>Google+</button>
		</div>
	</form>
</div>