* {
	box-sizing: border-box;
}
.logo, .list {
	background: orange;
}
.menu, .footer {
	background: red;
}
.news, .navbar {
	background: firebrick;
}
.wrapper {
	display: flex;
	min-width: 500px;
	flex-wrap: wrap;
}
.wrapper div {
	border: 1px solid #000;
}
.logo {
	width: 100px;
	height: 100px;
}
.menu {
	width: calc(100% - 100px);
}
.news {
	width: 100px;
	height: 300px;
}
.list {
	height: 300px;
	width: calc(65% - 65px);
}
.navbar {
	height: 450px;
	width: calc(35% - 35px);
}
.footer {
	height: 150px;
	width: calc(65% + 35px);
	transform: translateY(-150px); 
}
