* {
	box-sizing: border-box;
}
.wrapper {
	display: block;
	width: 100%;
	height: 600px;
	background: rgba(0, 0 , 0,.7);
}
.modal {
	position: relative;
	display: block;
	width: 800px;
	margin: 0 auto;
	padding: 10px;
	border: 15px solid #C0C0C0;
	border-radius: 5px;
	transform: rotate(-5deg);
	top: 100px;
	background: #fff;
}
h1 {
	text-transform: uppercase;
}
a {
	color: #000;
}
p {
	display: inline-block;
	width: 500px;
	color: #808080;
}
img {
	width: 150px;
	height: 150px;
	transform: translateY(-100px);
}
.cross {
	padding: 10px 15px;
	border-radius: 50%;
	border: 1px solid #DCDCDC; 
	position: absolute;
	background: #fff;
	top: -35px;
	right: -35px;
}