* {
	box-sizing: border-box;
}
.wrapper {
	display: grid;
	min-width: 500px;
	grid-template-columns: 100px calc(65% - 65px) calc(35% - 35px);
	grid-template-rows: 100px 300px 150px;
}
.wrapper div {
	border: 1px solid #000;
}
.menu {
	grid-column: 2 / 4;
}
.footer {
	grid-column: 1 / 3;
}
.navbar {
	grid-column: 3;
	grid-row: 2 / 4;
}
