* {
	box-sizing: border-box;
}
.masonry {
	display: flex;
  	flex-flow: row wrap;
 	width: 100%;
}
.masonry-block {
  flex: auto;
  height: 250px;
  width: 250px;
  margin: 0 8px 8px 0;
}
.masonry-block:nth-child(4n+1) img{
     width: 250px;
     height: 200px;
  }
.masonry-block:nth-child(4n+2) img{
	height: 200px;
	width: 250px;
}
.masonry-block:nth-child(4n+3) img{
	height: 250px;
	width: 250px;
}
.masonry-block:nth-child(4n+4) img{
	width: 250px;

}
