$most: (
	most-height: 80px,
	less-height: 60px,
	most-padding: 10px,
	less-padding: 5px,
	color: white 
);
$bgs: (
	success: rgb(0, 153, 51),
	information: rgb(102, 204, 255),
	alert: rgb(255, 153, 51),
	oops: rgb(255, 80, 80)
);